<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-5 bg-primary p-0 d-none d-md-block">
            <!-- login banner -->
            <app-login-banner></app-login-banner>
        </div>
        <div class="col-md-7 bg-light-grey p-0">
            <!-- login model -->
            <app-login-model></app-login-model>

            <div class="w-100 signin-footer">
                <p class="text-center font-weight-bold">&copy; 1900-2020 Dangol's Inc., All rights reserved.
                    <br />
                    Saraswati nagar, Chabahill, Kathmandu.</p>
            </div>
        </div>
    </div>
</div>
