
<div class="signin-body">
    <div class="login-model mx-auto">
        <div class="text-center mb-50 pb-40">
            <img class="login-logo" src="../assets/images/pos.svg" alt="pos logo">
        </div>
        <div class="login-form">
            <div class="form-group">
                <label class="text-secondary" for="username">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label class="text-secondary" for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="clearfix">
                <button class="btn btn-link float-left px-0 text-secondary">Forgot Password</button>
                <button class="btn btn-primary rounded-pill shadow btn-signin float-right">Sign In <img
                        width="14px" height="14px" src="../assets/images/arrow-pointing-to-right.svg"
                        alt=""></button>
            </div>
            <hr class="line">
            <button class="btn btn-link px-0 text-dark">Need An Account?</button>
        </div>
    </div>
</div>